.main-map-container {
  display: flex;
  margin: -80px auto -250px;
  /* padding: 20px; */
}

.main-map-content {
  flex: 3;
  height: 100vh;
  padding: 5%;
}

.main-map {
  height: 70%;
  width: 100%;
  transform-style: preserve-3d;
  transform: perspective(auto) translateZ(-30vw) scale(7);
  perspective: 1000;
}

.main-carousel-container {
  max-width: 100%;
  padding: 20px;
  /* width: auto; */
  height: auto;
}

.main-carousel-container img {
  /* width: auto; */
  max-width: 50%;
  height: auto;
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}

.col-md-6 {
  background: #fffcf6;
  width: 50%;
  position: relative;
  .img-fluid {
    width: 50rem;
    height: auto;
    display: block;
  }
  &:hover {
    &:before {
      bottom: 4rem;
      right: 6rem;
    }
    &:after {
      top: 4rem;
      left: 6rem;
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease;
  }
  &:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAU0lEQVQoU43QMRYAEQwE0ExHyf3vqNxybF6wRIpNZ3whIL74UJDh4zNQpFWTSMOx9y0m0m6FdmDDBnc073QYIQqwweDxa5jR+Zru+gUNCvkPvrgDcCIgJ6cWP4UAAAAASUVORK5CYII=)
      repeat;
    bottom: 2rem;
    right: 2rem;
  }
  &:after {
    background: #0d6efd;
    top: 2rem;
    left: 2rem;
  }
}

.row-company {
  margin: 150px auto;
  max-width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-camera {
  margin: 5px auto -80px;
  max-width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
