.map-container {
    display: flex;
}

.coordinates-container {
    max-height: 80vh;
    background-color: #f5f5f5;
    padding: 10px;
    overflow-y: auto;
    margin-left: 350px;
}

.map-content {
    flex: 3;
    height: 100vh;
}

.map {
    height: 79%;
    width: 80%;
}
