.nav {
  text-align: right;
}

.dropdown .btn.dropdown-toggle {
  color: white;
  /* Set the text color to white */
}

.dropdown .btn.dropdown-toggle::placeholder {
  color: #6c757d;
}

.welcome-message {
  color: white;
}

/* .logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
} */
