.map-container {
  display: flex;
}

.coordinates-container {
  max-height: 80vh;
  background-color: #f5f5f5;
  padding: 10px;
  overflow-y: auto;
  margin-left: 160px;
}

.map-content {
  flex: 3;
  height: 100vh;
}

.map {
  height: 79%;
  width: 80%;
}

.carousel-container {
  max-width: 100%;
  padding: 20px;
  /* width: auto; */
  height: auto;
}

.carousel-container img {
  /* width: auto; */
  max-width: 50%;
  height: auto;
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}

.header {
  text-align: center;
  padding: 2%;
}

.update-photo-container {
  text-align: right;
  padding: 10px;
}
